.link {
    width: 100%;
    background-color: var(--gray);
    color: var(--dark);
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    padding: 24px 0;
    margin-bottom: 24px;
}
.link:hover {
    background-color: var(--shade-gray);
}