:root {
  --light: #F4F5F7;
  --dark: #101828;
  --gray: #EAECF0;
  --shade-gray: #D0D5DD;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

body {
  background-color: var(--light);
}

.App {
  padding: 64px 0;
}